<h1>Log in</h1>

<%= form_for(:session, url: "/login") do |f| %>
  <%= f.text_field :username, :placeholder => "Username" %><br>
  <%= f.password_field :password, :placeholder => "Password" %><br>
  <%= f.submit "Log in" %>
<% end %>
<h3>Don't have an account?</h3>
<%= link_to("Sign Up", controller: "users", action: "new") %>
