<!DOCTYPE html>
<html>
<head>
  <title>Microblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3>Don't have an account?</h3>
<%= link_to("Sign Up", controller: "users", action: "new") %>


<%= yield %>

</body>
</html>
